@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/bootstrap.css")
@Styles.Render("~/Content/css/bootstrap.js")

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("~/Views/Shared/_AllLinks.cshtml")

    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body style="background-color:powderblue">

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login To see New Tour</h4>
                </div>
                <form action="/ContectUs/login" method="post" role="form">
                    <div class="modal-body">
                        <p>Welcome to Zaid Javed's Website</p>
                        <input type="text" class="form-control" name="email" placeholder="xyz@example.com" required>
                        <input type="password" class="form-control" required name="password">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-default" value="login" />
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--
    <div>
        <nav class=" navbar navbar-brand">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class=""></div>
            <a class="navbar-brand" href="~/Home/Index">Discovery Corner</a>
        </div>
        <div>
            <ul class="nav navbar-nav">

                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="Tour">Tour</a></li>
                <li><a href="PreviousTour">Previous Tour</a></li>
                <li><a href="~/Home/ContectUs">Contect Me</a></li>
                <li class="active"><a href="AboutUs">About Me</a></li>
                <li><a href="SignUp">Sign Up</a> </li>
            </ul>
        </div>
    </div>
    </nav>
    </div>
    -->
    <div>
        <nav class="navbar navbar-btn">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/Home/Index">Discovery Corner</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class=" hvr-bounce-to-bottom" href="~/Home/Index">Home <span class="sr-only">(current)</span></a></li>
                        <li><a class=" hvr-bounce-to-right" href="~/Tour/Tour">Tour<span class="icon-bar"></span></a></li>
                        <li><a class=" hvr-bounce-to-top" href="~/Tour/PreviousTour">Previous Tour<span class="icon-bar"></span></a></li>
                        <li><a class=" hvr-bounce-to-left" href="~/ContectUs/ContectUs">Contact Us<span class="icon-bar"></span></a></li>
                        <li><a class=" hvr-bounce-to-top" href="~/Home/gallery"><i style="color:#2bbded" class="fa fa-lg fa-connectdevelop"></i> Gallery<span class="icon-bar"></span></a></li>
                        <li class="active"><a class=" hvr-bounce-to-right" href="~/Home/AboutUs">About Us<span class="icon-bar"></span></a></li>
                        <li><a class=" hvr-bounce-to-bottom" href="~/SignUp/SignUp">Sign up<span class="sr-only"></span></a></li>
                        @Html.Partial("~/Views/Shared/_loginLogout.cshtml");
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a href="#">any link</a></li>-->
                        <!--drop down list-->
                        <!--
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        -->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    <div>

        <div style="width:20%; height:20%; float:right; margin-top:2%; margin-left:2%;">
            <img class="img-circle img-responsive img-rounded" src="~/images/aboutme.gif" style="crop:insert-rect(10%, 5%, 10%, 5%); border-image-width:5%;" />
            <h2 style="margin-left:4%">
                Zaid Javed <br />
                <small>Owner of this website</small>
            </h2>
            <p style="margin-left:4%">I'm Zaid Javed known as Zee J-46</p>
        </div>

        <div style=" nav-down:auto">
            <p style="font-family:'Old English Text MT' ; font-size:36px">About Us</p> <br />
            <ul style="font-family:'Comic Sans MS'; font-size:20px">
                <li><p>I arrange tour. On my website you can find that it is very economic<br />and good tour.</p></li>
                <li>You will enjoy the journy in my company with 7-star facilitation and<br />protocol</li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-3"></div>
        
        <div class="col-lg-6" style="margin-bottom:8%">
            <div class="headerimgtop">
                <div id="headerImage">


                    <img alt="about tourismvancouver" title="about tourismvancouver" width="60%" height="40%" src="~/images/map.jpg" />


                </div>
            </div>
            <p>Find out more about our organization: </p>
            <ul class="simple">
           <li><a href="#vision">Our Vision</a> </li>
           <li><a href="#mission">Our Mission</a> </li>	
           <li><a href="#leadership">Our Leadership</a> </li>
            </ul>
            <hr size="0">
            <p><a name="vision" title="vision" class="mceItemAnchor" id="vision"></a><b>Our Vision</b><br>Tourism Vancouver's vision is to be the global leader in destination sales, marketing and visitor experiences. </p><hr size="0"><p><a name="mission" title="mission" class="mceItemAnchor" id="mission"></a><b>Our Mission</b><br>Tourism Vancouver's focus is on building exceptional customer relationships. Our primary customers are meeting planners, travel influencers, travel media and independent tourists. Our efforts generate demand for the destination, thereby creating value for members and stakeholders. Innovation, partnership, research and accountability guide our approach. </p><p>We utilize person-to-person and technology-based sales, marketing and visitor servicing activities to achieve results. Through positive positioning of both the organization and the destination, our leadership benefits the society, culture, environment and economy of Greater Vancouver. </p><p>&gt; See our <a href="http://www.tourismvancouver.com/members/">Members section</a> if you are a business interested in working with Tourism Vancouver. </p><p>&gt; Visit our <a href="http://www.tourismvancouver.com/media/">Media section</a> if you are a local, national or international journalist looking for story ideas, assistance or resources. We're here to help! </p><hr size="0"><p><a name="leadership" title="leadership" class="mceItemAnchor" id="leadership"></a><b>Our Leadership</b><br>Tourism Vancouver is a business association representing approximately 1,000 members in tourism and related industries/activities. Our purpose is to effectively market Metro Vancouver as a destination for leisure, meeting and event travelers. Our goals are to attract visitors to the region, encourage them to stay longer and ensure they return. This is done through the coordinated group action of members and staff working together. </p><p>Tourism Vancouver's team includes 60 full-time, approximately 20 part-time, seasonal and contract positions and 200+ volunteers, working under the following program areas. </p><p><b>Visitor Services &amp; Sales</b> </p><ul class="simple">	<li>Visitor Services &amp; Sales </li>	<li>Tickets Tonight</li>	<li>Cultural Tourism</li></ul><p>&nbsp;</p><p><b>Marketing Communications &amp; Member Services </b></p><p><strong></strong></p><ul class="simple">	<li>Travel &amp; Trade Media Relations </li>	<li>Corporate Sponsorships </li>	<li>Marketing Services </li>	<li>Membership Services </li></ul><p>&nbsp;</p><p><b>Meetings &amp; Conventions </b></p><ul class="simple">	<li>Market Development - Meeting &amp; Convention Sales </li>	<li>Convention Services </li>	<li>Be a Host </li></ul><p>&nbsp;</p><p><b>Leisure Travel &amp; Digital Marketing</b> </p><ul class="simple">	<li>Leisure Travel Trade Sales </li>	<li>Consumer Marketing </li>	<li>Digital Marketing </li>	<li>Marketing Research </li></ul><p>&nbsp;</p><p><b>Corporate Services </b></p><ul class="simple">	<li>Finance </li>	<li>Information Technology </li>	<li>Human Resources </li></ul><p>&nbsp;</p><p><b>Board of Directors</b><br>In order to accurately reflect the activities of our members, Tourism Vancouver is led by our Board of Directors. Based on the mandate of the Board of Directors, the Bureau develops the strategies and plans to implement initiatives and achieve the desired results and targets. Strong leadership and guidance is provided by our 15 member Board of Directors, who represent each aspect of Greater Vancouver's tourism industry. These board members contribute their extensive knowledge and experience to our organization. </p><p>&nbsp;</p><p>&gt; <a href="http://www.tourismvancouver.com/about-us/board-directors/">See our list of Board of Directors</a>. </p>

            <div id="social-share-buttons">
                <!-- Tweet This -->
                
                <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                <div class="facebook-share-button">
                    <div class="fb-like fb_iframe_widget" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=100&amp;href=http%3A%2F%2Fwww.tourismvancouver.com%2Fabout-us%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=450"><span style="vertical-align: bottom; width: 76px; height: 20px;"><iframe name="f33bd94db" width="450px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2F1ldYU13brY_.js%3Fversion%3D41%23cb%3Dfb2d8ec8%26domain%3Dwww.tourismvancouver.com%26origin%3Dhttp%253A%252F%252Fwww.tourismvancouver.com%252Ff116df7e1%26relation%3Dparent.parent&amp;container_width=100&amp;href=http%3A%2F%2Fwww.tourismvancouver.com%2Fabout-us%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=450" style="border: none; visibility: visible; width: 76px; height: 20px;" class=""></iframe></span></div>
                </div>
                <div class="share">
                    <div class="addthis_toolbox addthis_default_style">

                        <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=TourismVancouver" class="addthis_button_compact at300m"><span class="at4-icon aticon-compact" style="background-color: rgb(252, 109, 76);"><span>More Sharing Services</span></span>Share</a>

                        <div class="atclear"></div>
                    </div>
                </div>
                <span class="skype_c2c_text_span">202-789-7000</span>
                <!-- Follow  -->
                <span style="display: inline-block">


                    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=myVancouver" style="width:300px; height:20px;"></iframe>

                </span>
            </div>
            <div class="clear"></div>

        </div>
    </div>

        <!-- Social Links-->
        @Html.Partial("~/Views/Shared/_socialLinks.cshtml");


   
    <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>


    <a href="https://www.facebook.com/zaidjaved46"><i class="fa fa-facebook-f fa-spin fa-align-center" style="width:2%;height:2%; margin-left:4%;"></i></a>

</body>
</html>
